#sidebar-wrapper {
  min-height: 92vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

.example-custom-date-class {
  background: gray;
  border-radius: 100%;
}

#sidebar-wrapper .list-group {
  width: 20rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

input[type="number"] {
  width: 100%;
}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  .show {
    margin-left: 0 !important;
  }

  .hide {
    margin-left: -20rem !important;
  }
}

@media (max-width: 767px) {
  .show {
    margin-left: -20rem !important;
  }

  .hide {
    margin-left: -0 !important;
  }
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: black;
}

.mat-slider-horizontal {
  width: 100%;
}

.progress-bar-mat {
  width: 95%;
  margin: auto;
}

.content-no-underline .mat-form-field-underline {
  display: none;
  margin-bottom: -10px;
  padding-bottom: -10px;
}
.content-no-underline .mat-form-field-wrapper {
  margin-bottom: -2em;
  margin-top: -0.9em;
}