<div class="d-flex" id="wrapper">
  <div class="bg-light border-right " id="sidebar-wrapper" [ngClass]="sidePanelShowStatus ? 'hide' : 'show'">
    <div class="list-group list-group-flush px-4 ">
      <nav>
        <div class="nav nav-tabs" id="nav-side-panel" role="tablist">
          <button class="nav-link active" id="nav-form-tab" data-bs-toggle="tab" data-bs-target="#nav-form"
                  type="button" role="tab" aria-controls="nav-form" aria-selected="true">Form
          </button>
          <button class="nav-link" id="nav-details-tab" data-bs-toggle="tab" data-bs-target="#nav-details" type="button"
                  role="tab" aria-controls="nav-details" aria-selected="false">Details
          </button>
          <button class="nav-link" id="nav-conf-tab" data-bs-toggle="tab" data-bs-target="#nav-conf" type="button"
                  role="tab" aria-controls="nav-conf" aria-selected="false">Configuration
          </button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-form" role="tabpanel" aria-labelledby="nav-form-tab">
          <div class="modal-body">


            <form #dataForm="ngForm">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Input & change events"
                       [disabled]="!isModelSelected"
                       (dateInput)="onValueChange($event)" [matDatepickerFilter]="dateFilter" [value]="selectedDate"
                       [min]="minDate"
                       [max]="maxDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Choose hour</mat-label>
                <mat-select *ngIf="blockedHourDropdown" disabled>
                </mat-select>
                <mat-select *ngIf="!blockedHourDropdown" [(value)]="selected">
                  <mat-option (onSelectionChange)="onHourChange(hour, $event);"
                              *ngFor="let hour of hourDropDownList.hourList.sort()"
                              [value]="hour">
                    {{hour | date :'HH:mm:ss'}}

                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <button mat-raised-button color="primary" *ngIf="isDateAndHourSelected && !showLoadingScreen"
                        type="button" class="m-1"
                        (click)="onSubmit()">Show
                </button>
                <button mat-raised-button color="primary" *ngIf="!isDateAndHourSelected && !showLoadingScreen"
                        type="button" class="m-1"
                        (click)="onSubmit()"
                        disabled>Show
                </button>
                <button mat-raised-button color="primary" *ngIf="showLoadingScreen" type="button" class="m-1" disabled>
                  <mat-icon>
                    <mat-spinner diameter="20"></mat-spinner>
                  </mat-icon>
                </button>
              </div>
              <br>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Choose animation range</mat-label>
                <input matInput [matDatepicker]="animationPicker"
                       [disabled]="!isFormSubmitted || blockedAnimationRange"
                       (dateInput)="onAnimationDateChange($event)"
                       [matDatepickerFilter]="animationDateFilter" [value]="selectedAnimationDate"
                       [min]="minDate"
                       [max]="maxDate">
                <mat-datepicker-toggle matSuffix [for]="animationPicker"></mat-datepicker-toggle>
                <mat-datepicker #animationPicker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Choose hour</mat-label>
                <mat-select [disabled]="blockedAnimationHourDropdown">
                  <mat-option (onSelectionChange)="onAnimationHourChange(animationHour, $event);"
                              *ngFor="let animationHour of animationHourDropDownList.hourList.sort()"
                              [value]="animationHour">
                    {{animationHour | date :'HH:mm:ss'}}

                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Animation Timestep [ms]</mat-label>
                <input matInput type="number" id="timestep" [disabled]="!isFormSubmitted"
                       [(ngModel)]="animationModel.timestepMs" name="timestep [ms]" #timestep="ngModel">
              </mat-form-field>
              <div class="buttons mt-2">
                <button mat-mini-fab color="primary" *ngIf="!animationPlaying" type="button" disabled="true"
                        class="m-2">
                  <mat-icon>pause</mat-icon>
                </button>

                <button mat-mini-fab color="primary" *ngIf="!animationPaused && animationPlaying" class="m-2"
                        (click)="pauseAnimation()">
                  <mat-icon>pause</mat-icon>
                </button>

                <button mat-mini-fab color="primary" *ngIf="animationPaused && animationPlaying" class="m-2"
                        [disabled]="!isFormSubmitted || blockedAnimationHourDropdown || !isAnimationDateAndHourSelected"
                        (click)="pauseAnimation()">
                  <mat-icon>play_arrow</mat-icon>
                </button>

                <button mat-mini-fab color="primary" *ngIf="!animationPlaying" class="m-2"
                        [disabled]="!isFormSubmitted || blockedAnimationHourDropdown || !isAnimationDateAndHourSelected"
                        (click)="playAnimation()">
                  <mat-icon>play_arrow</mat-icon>
                </button>

                <button mat-mini-fab color="accent" *ngIf="animationPlaying" type="submit" class="m-2"
                        (click)="stopAndRevertAnimation()">
                  <mat-icon>stop</mat-icon>
                </button>
              </div>
            </form>
          </div>
        </div>


        <div class="tab-pane fade" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
          <div *ngIf="clickedOnMap === false">
            <br>
            <p class="text-md-center">Select the point on the map for which you want to know the details </p>
          </div>
          <div id="longLang" *ngIf="clickedOnMap === true">
            <br>
            <mat-form-field *ngIf="clickedData.name" appearance="standard" class="content-no-underline m-3">
              <mat-label>Name</mat-label>
              <input matInput value="{{clickedData.name}}" readonly>
            </mat-form-field>
            <mat-form-field *ngIf="clickedData.latitude" appearance="standard" class="content-no-underline m-3">
              <mat-label>Latitude</mat-label>
              <input matInput value="{{clickedData.latitude.toFixed(4)}}" readonly>
            </mat-form-field>
            <mat-form-field *ngIf="clickedData.longitude" appearance="standard" class="content-no-underline m-3">
              <mat-label>Longitude</mat-label>
              <input matInput value="{{clickedData.longitude.toFixed(4)}}" readonly>
            </mat-form-field>
            <mat-form-field *ngIf="clickedData.value" appearance="standard" class="content-no-underline m-3">
              <mat-label>Value</mat-label>
              <input matInput value="{{clickedData.value}} {{clickedData.metricLabel}}" readonly>
            </mat-form-field>
            <mat-form-field *ngIf="clickedData.date" appearance="standard" class="content-no-underline m-3">
              <mat-label>Date</mat-label>
              <input matInput value="{{clickedData.date | date: 'medium'}}" readonly>
            </mat-form-field>
          </div>
        </div>


        <div class="tab-pane fade" id="nav-conf" role="tabpanel" aria-labelledby="nav-conf-tab">
          <mat-form-field floatLabel="always" appearance="'nope'" class="m-2 mu-4 mt-4 w-100">
            <mat-label>Opacity</mat-label>
            <mat-slider
              class="example-margin"
              [max]=100
              [min]=0
              [step]=5
              [thumbLabel]=true
              [(ngModel)]="opacity"
              (input)="changeOpacity($event.value)"
              [disabled]="!isDateAndHourSelected"
              color="primary"
              aria-labelledby="example-name-label">
            </mat-slider>
            <textarea matInput hidden></textarea>
          </mat-form-field>


          <mat-form-field class="m-2 ">
            <mat-label>Minimal Color</mat-label>
            <input matInput [ngxMatColorPicker]="minColorPicker" [formControl]="minColorCtr"
                   [disabled]="!isDateAndHourSelected">
            <ngx-mat-color-toggle matSuffix [for]="minColorPicker"></ngx-mat-color-toggle>
            <ngx-mat-color-picker #minColorPicker></ngx-mat-color-picker>
          </mat-form-field>

          <mat-form-field class="m-2">
            <mat-label>Maximal Color</mat-label>
            <input matInput [ngxMatColorPicker]="maxColorPicker" [formControl]="maxColorCtr"
                   [disabled]="!isDateAndHourSelected">
            <ngx-mat-color-toggle matSuffix [for]="maxColorPicker"></ngx-mat-color-toggle>
            <ngx-mat-color-picker #maxColorPicker></ngx-mat-color-picker>
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="changeColor(minColorCtr, maxColorCtr)"
                  [disabled]="!isDateAndHourSelected">Set Colors
          </button>

        </div>
      </div>
    </div>
  </div>


  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg">

      <div class="container-fluid">
        <button mat-raised-button color="primary" (click)="openOrHideSidePanel()">See Details</button>
        <div *ngIf="animationPlaying">
          <mat-form-field appearance="standard" class="content-no-underline">
            <mat-label>Animation Start:</mat-label>
            <input matInput value="{{animationStart | date:'medium'}}" readonly>
          </mat-form-field>
          <mat-form-field appearance="standard" class="content-no-underline">
            <mat-label>Animation End:</mat-label>
            <input matInput value="{{animationEnd | date:'medium'}}" readonly>
          </mat-form-field>
          <mat-form-field appearance="standard" class="content-no-underline">
            <mat-label>Showing:</mat-label>
            <input matInput value="{{animationNow | date:'medium'}}" readonly>
          </mat-form-field>
        </div>
        <div *ngIf="showingDate!=undefined && !animationPlaying">
          <mat-form-field appearance="standard" class="content-no-underline">
            <mat-label>Showing</mat-label>
            <input matInput value="{{showingDate | date:'medium'}}" readonly>
          </mat-form-field>
        </div>

      </div>
    </nav>
    <div class="progress-bar-mat">
      <mat-progress-bar mode="determinate" color="primary" value="{{animationPercentage}}"
                        [attr.aria-valuenow]="animationPercentage"
                        aria-valuemin="0" aria-valuemax="100" role="progressbar"></mat-progress-bar>
    </div>
    <div class="container-fluid">
      <app-map></app-map>
    </div>
  </div>
</div>
