<div class="d-flex" id="wrapper">
  <div class="bg-light border-right " id="sidebar-wrapper" [ngClass]="status ? 'hide' : 'show'">
    <div class="list-group list-group-flush px-4 ">
      <nav>
        <div class="nav nav-tabs" id="nav-side-panel" role="tablist">
          <button class="nav-link active" id="nav-form-tab" data-bs-toggle="tab" data-bs-target="#nav-form"
                  type="button" role="tab" aria-controls="nav-form" aria-selected="true">Form
          </button>
          <button class="nav-link" id="nav-details-tab" data-bs-toggle="tab" data-bs-target="#nav-details" type="button"
                  role="tab" aria-controls="nav-details" aria-selected="false">Details
          </button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-form" role="tabpanel" aria-labelledby="nav-form-tab">
          <div class="modal-body">


            <form #dataForm="ngForm">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Input & change events"
                       (dateInput)="onValueChange($event)" [matDatepickerFilter]="dateFilter" [min]="minDate"
                       [max]="maxDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Choose hour</mat-label>
                <mat-select *ngIf="blocked" disabled>
                </mat-select>
                <mat-select *ngIf="!blocked">
                  <mat-option *ngFor="let hour of hours.sort()" (onSelectionChange)="onHourChange(hour)"
                              [value]="hour">
                    {{hour | date :'HH:mm:ss'}}

                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <button type="button" class="btn btn-dark m-1" (click)="onSubmit()">Show</button>
              </div>
              <br>

              <label for="days" class="col-form-label">Animation span: </label>
              <div class="col-3">
                <input type="number" id="days" class="form-control" [(ngModel)]="animationModel.steps"
                       name="days" #days="ngModel">
              </div>
              <label for="timestep" class="col-form-label">Animation Timestep [ms]:</label>
              <div class="col-3">
                <input type="number" id="timestep" class="form-control"
                       [(ngModel)]="animationModel.timestepMs" name="timestep [ms]" #timestep="ngModel">
              </div>
              <div class="buttons">
                <button *ngIf="!paused" type="button" class="btn btn-secondary  m-1" (click)="pauseAnimation()">Pause
                </button>
                <button *ngIf="paused" type="button" class="btn btn-secondary m-1 " (click)="pauseAnimation()">Unpause
                </button>
                <button type="submit" class="btn btn-primary m-1 btn-dark" (click)="playAnimation()">Play</button>
              </div>
            </form>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
          <div *ngIf="clicked == false">
            <br>
            <p class="text-md-center">Select the point on the map for which you want to know the details </p>
          </div>
          <div id="longLang" *ngIf="clicked == true">
            <br>
            <div class="row">
              <div class="col">
                <p *ngIf="name">Station Name:</p>
                <p> Longitude:</p>
                <p> Latitude:</p>
              </div>
              <div class="col">
                <p *ngIf="name">{{name}}</p>
                <p>{{long}}</p>
                <p>{{lat}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div class="col">
          <button class="btn btn-primary btn-dark" (click)="clickEvent()">See Details</button>
        </div>
        <div class="col">
          <p>Start At: {{animationStart}}</p>
        </div>
        <div class="col">
          <p>Now: {{animationNow}}</p>
        </div>
        <div class="col">
          <p>Length: {{animationLength}}</p>
        </div>
      </div>
    </nav>
    <div class="progress" style="height: 2px;">
      <div class="progress-bar bg-dark" style="width: {{animationPercentage}}%" role="progressbar"
           [attr.aria-valuenow]="animationPercentage" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="container-fluid">
      <app-map (longEmitter)="setLong($event)" (latEmitter)="setLat($event)"
               (clickedEmitter)="setClicked($event)"></app-map>
    </div>
  </div>
</div>
