<!-- Button trigger modal -->
<div class="modal fade " id="modelConfigurationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Add new data model</h1>
        <button type="button" id="dismissButtonModalLabel" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #dataForm="ngForm">
          <label>Choose data type</label>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="dataTypeFlex" id="option1" value="LINE"
                     [(ngModel)]="dataType">
              <label class="form-check-label" for="option1">
                Line
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="dataTypeFlex" id="option2" value="POINTS"
                     [(ngModel)]="dataType" checked>
              <label class="form-check-label" for="option2">
                Points
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="dataTypeFlex" id="option3" value="POLYGON"
                     [(ngModel)]="dataType">
              <label class="form-check-label" for="option3">
                Polygon
              </label>
            </div>
            <label for="urlAddress">Enter address</label>
            <input type="email" class="form-control" id="urlAddress" placeholder="Enter url address" [(ngModel)]="url"
            #urlAddress="ngModel" name="url">
          </div>
          <button type="button" class="btn btn-dark m-1" (click)="onSubmit()">Add</button>
        </form>


      </div>
    </div>
  </div>
</div>
