<div class="col-12">
  <div class="row legend-scale">
    <b class="legend-scale">{{scaleData.endValue}} <br> {{scaleData.metric}}</b>
  </div>
  <div class="row">
    <svg height="66vh">
      <defs>
        <linearGradient id="grad1" x1="0%" y1="100%" x2="0%" y2="0%">
          <stop offset="0%" style="stop-color:{{scaleData.startColour}};stop-opacity:1" />
          <stop offset="100%" style="stop-color:{{scaleData.endColour}};stop-opacity:1" />
        </linearGradient>
      </defs>
      <rect height="66vh" width="26px" x="calc(50% - 13px)" fill="url(#grad1)" />
    </svg>
  </div>
  <div class="row legend-scale">
    <b class="legend-scale">{{scaleData.startValue}} <br> {{scaleData.metric}}</b>
  </div>
</div>
