<!-- Button trigger modal -->
<div class="modal fade" id="stationsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg  modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Stations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="row align-items-center p-2 form-group">
          <div class="form-group">
            <input type="text" class="form-control mb-4" placeholder="Search" [(ngModel)]="query" id="listSearch">
          </div>
          <div *ngIf="(allStations | searchFilter: query).length === 0">
            <p class="text-center">No matches</p>
          </div>
          <div *ngIf="query.length ===0">
            <p class="text-center">Enter Character to start search</p>
          </div>
          <div *ngIf="query.length > 0">
            <div *ngFor="let station of allStations | searchFilter: query" class="col-4">
              <div class="row">
                <a href="#" (click)="zoomTo(station.id)" data-bs-dismiss="modal"
                   *ngIf="station.longitude && station.latitude"><p> {{station.name}}</p></a>
                <p *ngIf="!station.longitude || !station.latitude"> {{station.name}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center p-2">
        </div>
      </div>
    </div>
  </div>
</div>
