<!-- Button trigger modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Data Models</h1>
        <button type="button" id="dismissButton" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="d-flex justify-content-center" *ngIf="getModels().length<=4">
        <mat-spinner></mat-spinner>
      </div>

      <div class="modal-body" *ngIf="getModels().length>4">
        <p class=" font-weight-bold">Choose data model</p>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="selectedModel">
          <mat-radio-button color="primary" class="example-radio-button" *ngFor="let model of getModels()" [value]=model
                            (change)="changeModelStatus(model.id)">
            {{model.name}} - {{model.description}} - {{model.dataType}}
          </mat-radio-button>
        </mat-radio-group>

      </div>
    </div>
  </div>
</div>
