<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/river2.png" width="30" height="30" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
            <button mat-button id="modelsButton" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" href="">Data models
            </button>
          </li>
          <li>
            <div *ngIf="visibleStations">
              <button mat-button data-bs-toggle="modal" data-bs-target="#stationsModal">Stations
              </button>
            </div>
            <div *ngIf="!visibleStations" (click)="openSnackBar()">
              <button [disabled]="true" mat-button>Stations</button>
            </div>
          </li>
          <li>
            <button mat-button data-bs-toggle="modal" data-bs-target="#geoJsonModal" href="">Add
              GeoJson
            </button>
          </li>
          <li>
            <button mat-button data-bs-toggle="modal" data-bs-target="#geoTiffModal" href="">Add
              GeoTiff
            </button>
          </li>
          <li>
            <button mat-button data-bs-toggle="modal" data-bs-target="#modelConfigurationModal" href="">Add Model
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
