<!-- Button trigger modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #dataForm="ngForm">

          <!--            <div class="row align-items-center p-2 form-group">-->
          <!--                <div class="col-2">-->
          <!--                  <label for="latitude" class="col-form-label">Latitude</label>-->
          <!--                </div>-->
          <!--                <div class="col-3">-->
          <!--                  <input type="number" id="latitude" class="form-control" required-->
          <!--                  [(ngModel)]="model.latitude" name="latitude" #latitude="ngModel">-->
          <!--                </div>-->
          <!--                <div [hidden]="latitude.valid || latitude.pristine"-->
          <!--                        class="alert alert-danger col-auto validation-msg">-->
          <!--                    Latitude has to be a number.-->
          <!--                  </div>-->
          <!--            </div>-->

          <!--            <div class="row align-items-center p-2">-->
          <!--                <div class="col-2">-->
          <!--                  <label for="longitude" class="col-form-label">Longitude</label>-->
          <!--                </div>-->
          <!--                <div class="col-3">-->
          <!--                  <input type="number" id="longitude" class="form-control" required-->
          <!--                  [(ngModel)]="model.longitude" name="longitude" #longitude="ngModel">-->
          <!--                </div>-->
          <!--                <div [hidden]="longitude.valid || longitude.pristine"-->
          <!--                        class="alert alert-danger col-auto validation-msg">-->
          <!--                    Longitude has to be a number.-->
          <!--                  </div>-->
          <!--            </div>-->
          <div class="row align-items-center p-2">
            <ejs-calendar (change)="onValueChange($event)" id=calendar [value]='value' [firstDayOfWeek]='1'></ejs-calendar>
            <span id="selected">Selected Value: </span>

          </div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="!dataForm.form.valid" data-bs-dismiss="modal" >Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
