<!-- Button trigger modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmit()">

            <div class="row align-items-center p-2 form-group">
                <div class="col-2">
                  <label for="latitude" class="col-form-label">Latitude</label>
                </div>
                <div class="col-3">
                  <input type="text" id="latitude" class="form-control" 
                  [(ngModel)]="model.latitude" name="latitude">
                </div>
                <!-- <div class="col-auto">
                  <span id="passwordHelpInline" class="form-text">
                    Warunki parametru 1
                  </span>
                </div> -->
            </div>

            <div class="row align-items-center p-2">
                <div class="col-2">
                  <label for="longitude" class="col-form-label">Longitude</label>
                </div>
                <div class="col-3">
                  <input type="text" id="longitude" class="form-control" 
                  [(ngModel)]="model.longitude" name="longitude">
                </div>
                <!-- <div class="col-auto">
                  <span id="passwordHelpInline" class="form-text">
                    Warunki parametru 2
                  </span>
                </div> -->
            </div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>